<h2>RTTI Class/Struct field type information</h2>
<app-section-header [section]="section"></app-section-header>

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Fieldname</th>
      <th scope="col">Type</th>
      <th scope="col">Flags</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let field of fields; index as i">
      <th scope="row">{{ i }}</th>
      <td><span title="nameoffs: 0x{{ field.nameoffs | toHex }}">{{ field.name }}</span></td>
      <td><span title="typeid: 0x{{ field.typeid | toHex }}">{{ rttiData.typeFromTypeId(field.typeid) }}</span></td>
      <td>0x{{ field.flags | toHex }}</td>
    </tr>
  </tbody>
</table>