<h2>RTTI typeset information</h2>
<app-section-header [section]="section"></app-section-header>

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Name</th>
      <th scope="col">Signatures</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let typeset of typesets; index as i">
      <th scope="row">{{ i }}</th>
      <td><span title="nameoffs: 0x{{ typeset.nameoffs | toHex }}">{{ typeset.name }}</span></td>
      <td>
        <p>
          Signature: 0x{{ typeset.signature | toHex }}
        </p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let typesetItem of rttiData.typesetTypesFromOffset(typeset.signature).signatures">{{ typesetItem }}</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>