<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" [class.active]="hideSectionList">
        <div class="sidebar-header">
            <h4>Sections</h4>
        </div>
        <app-sections [smxfile]="smxfile" (selectSection)="selectedSection=$event.main; selectedSubsection=$event.sub"></app-sections>
    </nav>

    <!-- Page content -->
    <div id="content" [class.active]="hideSectionList">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="sidebarCollapse($event)">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sectionlist</span>
                </button>
                <h2>{{title}}</h2>
                <input type="file" (change)="fileChangeEvent($event)" placeholder="Select file..." />
            </div>
        </nav>
        <div *ngIf="smxfile">
            <app-names-section [section]="selectedSection"></app-names-section>
            <app-data-section [section]="selectedSection"></app-data-section>
            <app-publics-section [section]="selectedSection"></app-publics-section>
            <app-pubvars-section [section]="selectedSection"></app-pubvars-section>
            <app-natives-section [section]="selectedSection"></app-natives-section>
            <app-tags-section [section]="selectedSection"></app-tags-section>
            <app-dbg-files-section [section]="selectedSection"></app-dbg-files-section>
            <app-dbg-lines-section [section]="selectedSection" [dbgFilesSection]="smxfile.debugFiles"></app-dbg-lines-section>
            <app-dbg-natives-section [section]="selectedSection" [tags]="smxfile.tags"></app-dbg-natives-section>
            <app-dbg-symbols-section [section]="selectedSection" [subsection]="selectedSubsection" [tags]="smxfile.tags"></app-dbg-symbols-section>
        </div>
    </div>
</div>