<h2>{{ section.name }} section</h2>
<app-section-header [section]="section"></app-section-header>
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Tag ID</th>
      <th scope="col">Name</th>
      <th scope="col">Tag</th>
      <th scope="col">Flags</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tag of tags.tags">
      <th scope="row">{{ tag.id }}</th>
      <td><span title="nameoffs: 0x{{ tag.nameoffs | toHex }}">{{ tag.name }}</span></td>
      <td>0x{{ tag.tag | toHex }}</td>
      <td>{{ flagsToString(tag.flags) }}</td>
    </tr>
  </tbody>
</table>